<!DOCTYPE html>
<html lang="en">
<head>
<title>Game Database</title>
<style>
  body {
    text-align: center; /* Center text */
    }
  .container {
    margin: 0 auto; /* Center the container */
    width: 80%; /* Or any other width */
    }
  h1, p, ul {
    margin-left: auto;
    margin-right: auto;
    width: fit-content; /* Make width fit the content */
    }
</style>
</head>
<body>
 <div class="container">
   <h1>Welcome to the Game Database</h1>
   <p>The following two links can be used to show the dynamics between the top 100 video game platforms and genres available worldwide. Analysing this data can help you understand the gaming industry and identify the trends that are driving the success of game developers!</p>
   <p>After entering the first link, you can use Rank, the name of the game, and the global sales volume to perform a relevant search.</p>
   <p>The second link allows you to search by game name, year, publisher and worldwide sales.</p>
   <ul>
    <li><a href="/game_details">Game Details</a></li>
    <li><a href="/sales_details">Sales Details</a></li>
   </ul>
 </div>
</body>
</html>
